<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ma todolist</title>
    <link rel="stylesheet" href="css/todo.css">
</head>

<body>
    <h1>Ma todolist</h1>
    <ul id="todolist">
    </ul>
    <form>
        <label for="todo">Que dois-je faire ?</label>
        <input type="text" id="todo" name="todo">
        <input type="submit" value="Valider">
    </form>
    <div id="result"></div>
    <script src="js/ajax.js"></script>
    <script src="js/todo.js"></script>
</body>

</html>
