html {
    display: flex;
    flex-direction: column;
    width: 100%;
}

body {
    display: flex;
    background: #f5f5f5;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    min-height: 100vh;
    margin: 0 auto;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.app {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex: 1 0 auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/********************************************/

#componentChat {
    display: none;
}

.component {
    display: flex;
    flex-direction: row;
}

.panel {
    flex-direction: column;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    background: white;
    margin: 20px;
}

.panel-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    font-weight: 700;
    color: #fff;
}

.panel-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
}

#panelChat {
    width: 640px;
}

#panelChat .panel-title {
    background-color: #38B1CC;
}

#panelUsers .panel-title {
    background-color: #56cc73;
}

#formChat {
    display: flex;
    align-items: center;
    align-content: center;
    border-top: 1px solid #E7E7E7;
    padding: 15px;
}

#formChat button {
    width: 90px;
    height: 40px;
}

#formLogin {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 320px;
    padding: 20px;
    background: white;
}

#formLoginIcon {
    width: 64px;
    margin: 5px auto;
    display: none;
}

#formLoginPseudo {
    display: flex;
    align-items: baseline;
}

.pseudo {
    margin-right: 10px;
}

#pseudo {
    flex: 1;
    width: auto;
}

.message {
    color: black;
    word-wrap: break-word;
    margin-top: 5px;
}

label {
    color: #757575;
    margin-bottom: 5px;
}

.error {
    color: red;
}

.error.active {
    padding-top: 15px;
    font-weight: 700;
}

input {
    outline: none;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    padding: 15px 0px;
    width: 100%;
    border: none;
    color: #757575;
}

#formLogin input {
    border-bottom: 1px solid #E7E7E7;
    text-indent: 5px;
}

#formLogin button {
    margin-top: 20px;
    padding: 15px 0px;
}

#messagesUsers p {
    display: flex;
    align-items: center;
}

.messagesChatRight {
    display: flex;
    flex-direction: column;
}

.messagesChatHeader {
    display: flex;
    align-items: center;
    color: #777777;
}

.messagesChatContent {
    display: flex;
    align-items: flex-start;
}

.messages img {
    width: 48px;
    margin-right: 10px;
}

.messages {
    flex: 1;
    background: white;
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
}

.timestamp {
    color: #777777;
}

#error {
    display: none;
    color: red;
    text-align: center;
}


/********************************************/

.main-content {
    order: 1;
    width: 100%;
}

.sidebar {
    order: 2;
    width: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s;
    transition: opacity 0.5s, width 0.1s;
}

.sidebar.isOpen {
    width: 320px;
    opacity: 1;
}

#settings {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    color: #616161;
    font-size: 1.2em;
    padding: 6px 5px;
    background: transparent;
    border: none;
    opacity: 0.8;
}

#settings:hover {
    opacity: 1;
}


/********************************************/

button {
    border-radius: 0px;
    font-weight: 700;
    color: #fff;
    background-color: #38B1CC;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #10bccc;
}


/********************************************/

footer {
    font-family: Consolas, Verdana, Arial, sans-serif;
    font-size: 0.8em;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 10px;
}


/********************************************/

@media screen and (max-width: 767px) {
    #componentChat,
    #formLogin {
        width: 100%;
    }

    .sidebar.isOpen {
        width: 100%;
    }

    #panelChat.main-content.isOpen {
        width: 0;
        z-index: 0;
        overflow: hidden;
    }
    
    .panel {
        margin: 0px;
    }
    
    .app {
        margin: 20px;
    }
}